<div class="row">
  <div class="col-md-8">
    <h2>
      Ask New Question
    </h2>

    <form {{action "askQuestion" on="submit"}}>
      <div class="form-group">
        <label for="title">Question title</label>

        {{input id="title"
          value=title
          classNames="form-control"
          placeholder="Give your question an accurate name"}}
      </div>

      <div class="form-group">
        <label for="question">Question</label>

        {{textarea id="question"
          value=question
          classNames="form-control"
          placeholder="Describe your problem in as much detail as possible"}}
      </div>

      {{#if question}}
        <div class="form-group">
          <p>Question preview:</p>
          <p>{{question}}</p>
        </div>
      {{/if}}

      <button class="btn btn-primary" type="submit">
        Ask Question!
      </button>
    </form>
  </div>

  <div class="col-md-4">
    <h2>
      Maybe this will help
    </h2>

    {{#each latestQuestions}}
    <div class="panel panel-default">
      <div class="panel-body">
        {{#link-to 'question' this}}
          {{title}}
        {{/link-to}}

        {{question}}
        <br>
        — {{author.fullname}}
      </div>
    </div>
    {{/each}}
  </div>
</div>