<div class="row">
  <div class="col-md-8">
    <h2>{{title}}</h2>

    <p>
      {{question}}
    </p>

    <p>
      Asked by {{author.fullname}}
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-8">
    {{#each answers}}
      <div class="panel panel-default">
        <div class="panel-heading">
          {{author.fullname}} on {{date}}
        </div>

        <div class="panel-body">
          {{answer}}
        </div>
      </div>
    {{else}}
      <h4>Sorry, there are no answer to this question</h4>
    {{/each}}
  </div>
</div>

<hr>

{{view "answer-form"}}